:root{
	--obscuro : #132126;
	--verde-o : #55753B;
	--rosado : #CC1036;
	--purpura : #591C44;
	--claro : #F8FFD0;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: arial;
}

header {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 3em;
	color: var(--claro);
	text-align: center;
}

ul {
	list-style: none;
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

a{
	text-decoration: none;
	display: block;
}

section{
	display: flex;
	align-items: center;
	justify-content: center;
}

input{
	width: 100%;
	padding: 0.35rem;
	margin: 0.25rem;
	border: none;
	border-radius: 0.2rem;;
}
input:focus{
	border: none;
	border-bottom: 2px solid var(--purpura);
}

label{
	color: var(--claro);
	margin: 0.25rem;
}
p{
	background: transparent;
	color: var(--claro);;
	margin: 0.25rem;
}

#app{
	width: 100%;
}

.boton {
	padding: 0.7rem;
	margin: 0.3rem;
	color: #FFF;
	border-radius: 5px;
	text-align: center;
}
.rosa {
	background: var(--rosado);
}

.purpura {
	background: var(--verde-o);
}

.card{
	padding: 2em;
	margin-right: 15vw;
	margin-left: 15vw;
	margin-top: 7vh;
	margin-bottom: 3vh;
	border-radius: 5px;
	background: rgba(19,33,38,.9);
}
@media(max-width : 	540px){
	ul {
		flex-direction: column;
		align-content: space-between;
		height: 6rem;
	}
	h1{
		font-size: 2rem;
	}
	.card{
		margin-right: 5vw;
		margin-left: 5vw;
	}
}