<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Traductor Binario</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
	<link rel="stylesheet" href="./css/index.css">
</head>
<body>
	<header>
		<h1>Traductor Binario</h1>
		<nav>
			<ul>
				<li><a href="#" class="boton rosa">Más proyectos</a></li>
				<li><a href="#" class="boton purpura">Contacto &#9996</a></li>
			</ul>
		</nav>
	</header>
	<div id="app">
		<input type="text" v-model="message">
		<br>
		<p>{{toBinary}}</p>
		<input type="text" v-model="binary">
		<br>
		<p>{{Binary}}</p>
	</div>
	<script type="text/javascript" src="./js/index.js"></script>
</body>
</html>


